*{
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #121212;
    color: lightsteelblue;
}
header{
    display: flex;
    /* background-color: black; */
    background-color: #1c1c1c;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}
header div h5{
    flex: 1;
    font-size: 24px;
    color: #ffffff;
}
header nav{
    flex: 1;
}
header nav ul{
    display: flex;
    justify-content: flex-end;
    /* Align the icons to the right */

}
header nav ul li{
    list-style: none;
    padding: 10px; 


}
header nav ul li a{
    color: #ffffff;

}
.ficon, .sicon, .ticon {
    
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 286px;
    padding-top: 80px;
    background-color: #1c1c1c;
}
.hero-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
    
}

.hero-text p {
    font-size: 18px;
}

.hero-text .price {
    font-size: 24px;
    color: #e60023;
}

.hero-text .price span {
    text-decoration: line-through;
    font-size: 16px;
    color: #888888;
}

.herobutton {
    background-color: #e60023;
    border-radius: 3px;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin: 10px;
    width: 90%;
}
.boat-bg-img{

}
.featured-products {
    padding: 40px;
    background-color: #1c1c1c;
}

.featured-products h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    transition: transform 0.3s ease;
    margin-top: 90px;
   
}
.products img{
    width: 100px;
    margin-bottom: 10px;
}

.product-card1,.product-card5{
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    transform: scale(0.7);
}
.product-card2,.product-card4{
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    transform: scale(0.9);
}
.product-card3{
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    transform: scale(1.3);
}

.product-card1 img{
    width: 100px;
    margin-bottom: 10px;

}
.product-card2 img{
    width: 100px;
    margin-bottom: 10px;

}
.product-card3 img{
    width: 100px;
    margin: 0px 0px 10px 0px;
}
.product-card4 img{
    width: 100px;
    margin-bottom: 10px;

}
.product-card5 img {
    width: 100px;
    margin-bottom: 10px;
}
.product-card1 p,.product-card2 p,.product-card3 p,.product-card4 p,.product-card5 p {
    margin: 10px 0;
    font-size: 18px;
}
/* Top Product */
.top-product{
    padding: 40px;
    background-color: #1c1c1c;
}
.top-product h2{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.product-filters{
    display: flex;
}
.product-filters a{
    color: lightsteelblue;
    padding: 4px 8px; 
    margin: 40px 90px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.product-filters a:nth-child(1){
    background-color: #e60023;

}
.product-filters a:hover{
    background-color: #e60023;
    padding: 4px 8px; 
}




/*----Add To Cart Start------ */
.Addcart {
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    /* display: flex; */
    background-color: #1c1c1c;
    padding: 40px 0px 40px 150px;
    /* text-align: center; */
    color: lightsteelblue;
}
.Addcartrow1{
    display: flex;
}
.addproduct{
    height: 354px;
    width: 239px;
    box-shadow: 0 0px 1px rgb(237, 232, 232);
    margin: 3px 5px 3px 5px;}
.prodimg {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 10px 0px 35px 60px;}
.proddetail{
    padding: 0px 14px;
    /* display: grid;
    grid-template-columns: repeat(1 , 1fr);
    align-content: space-between;
    grid-gap: 3px; */
}
.star{
    font-size: x-small;

}
/* Star ratings styling */
.checked {
    color:  #b20710;
    font-size: 16px;
}
.addcarth3{
    margin-top: 10px;
}
.addcartp{
    font-size: small;
    opacity: 0.6;
}
.Addcart hr {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 10px 0 10px 0;
    padding: 0px 16px 0 16px;
}
.actualprice{
    font-size: larger;
}
.proddelete{
    opacity: 0.6;
    font-size: medium;
}
/* Button Styling */
.addcartbutton{
    background-color: #e60023;
    border-radius: 3px;
    color: #ffffff;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    margin: 14px;
    width: 90%;
    transition: background-color 0.3s ease;
}

.browseall{
    font-size: 28px;
    margin: 150px 0px 0px 0px;
    text-align: center;
}
/*----Add To Cart end----*/



/*---our Advantages Start---*/
.advantages{
    /* margin: 60px; */
    background-color: #1c1c1c;

}
.advantages h2{
    margin-top: 40px;
}
.advantage-name{
    display: flex;
    justify-content:space-around;
    padding: 60px;
}
.advantage-name .Delivery,
.advantage-name .Brand,
.advantage-name .deels,
.advantage-name .payments {
    display: flex; /* Use flexbox to align icon and text horizontally */
    align-items: center; /* Align items vertically in the center */
    gap: 15px; /* Add space between the icon and the text */
}
.advicons{
    font-size: 30px;
}
.advtwo-txt {
    font-size: small;
    opacity: 0.6;
    margin-top: 3px;
    display: inline-block;
}



/*--footer start--- */
.footerHome {
    background-color: #111;
    /* color: #fff; */
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
}
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0px 0px 40px 0px;
  }
  .footer-column1{
    flex: 8;
  }
  .footer-column {
    margin-left: 144px;
    flex: 4;
  }
  
  .footerHeading {
    /* margin-top: 20px; */
    font-size: 18px;
  }
  .headDiscription{
    margin-top: 5px;
     font-size: 15px;
    opacity: 0.7;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
    margin-top: 18px;
  }
  
  .footer-column ul li a {
    color: lightsteelblue;
    opacity: 0.6;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-column ul li a:hover {
    color: #e63946;
  }
  
  .footer-column form {
    /* display: flex; */
  }
  
  .footer-column1 input {
    background-color: #111;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid lightsteelblue;
    outline: none;
    width: 70%;
  }
  
  .footer-column1 button {
    margin-top: 9px;
    padding: 8px 80px 8px 20px;
    /* padding: 19px; */
    border: none;
    border-radius: 7px;
    background-color: #ec081b;
    color: #fff;
    cursor: pointer;
    width: 30%;
  }
  
/* -- footer Bottom Start -- */
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 0px 0px;
    border-top: 1px solid #333;
  }
  
  .footerdisc {
    margin-top: 25px;
    font-size: 14px;
  }
  
  .social-icons{
    margin: 25px 70px 0px 0px;
    display: flex;

    /* justify-content: space-between; */
    /* align-content: space-between;
    flex-wrap: wrap; */

  }
/* -- footer Bottom Start -- */

  

  

