*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #1c1c1c;
    color: lightsteelblue;
}

/* header Start  */
.header{
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 97%;
    display: flex;
    margin: 20px 0px 0px 20px; 
}
.heading{
    flex: 1;
    
}
.heading a {
    font-size: 16px;
    color: lightsteelblue;
    text-decoration: none;
  }
.headicons{
    flex: 1;
}
.parenticon{
    margin: 0px 20px 0px 0px;
    gap: 40px;
    display: flex;
    justify-content: flex-end;

}
.icon{
    list-style: none;
}
.icon a{
    color: lightsteelblue;
}

/* login tooltip Start */
.ticon {
    list-style: none;
    position: relative;
    display: inline-block;
}
.ticon a{
    color: lightsteelblue;

}
.user{
    padding: 20px 20px;
    margin: 10px 0px;
    width: 260px;
    height: 180px;
    border: whitesmoke;
    border: 1px solid rgb(90, 86, 86);
    display:none;
    background-color:#181A1C;
    align-items: center;
    justify-content: flex-start; 
    position: absolute;
    right: 10%;
    font-size: smaller;
}
.register{
    border: 1px solid grey;
    padding: 10px;
    color: grey;
    text-decoration: none;
    font-size: small;
}
.ticon:hover .user{
    display: block; 
}
/* login tooltip End */
/* header End  */


/* banner image Start */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px 0px 130px 0px;
    background-color: #1c1c1c;
}
.hero-text{
margin-right: 20px;
}
.boat-bg-img{
    margin-left: 20px;

}
.hero-text h4{
    opacity: 0.6;
}
.hero-text h2 {
    font-size: 36px;
    margin: 15px 0px;
    
}
.hero-text p {
    font-size: 18px;
    font-size: 24px;
}
.hero-text span{
    opacity: 0.6;
    text-decoration: line-through;
    font-size: 16px;
    margin-left: 10px;
}
.herobutton {
    background-color: #e60023;
    border-radius: 3px;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    width: 40%;
}


/* Small screens (max-width: 767px) */
@media (max-width: 767px) {
    .hero {
        flex-direction: column;
        margin: 80px 0px 40px 0px;
        padding: 20px;
    }
    .hero-text {
        margin-right: 0;
        text-align: center;
    }
    .hero-text h2 {
        font-size: 24px;
    }
    .hero-text p {
        font-size: 16px;
    }
    .herobutton {
        width: 80%;
        margin-top: 20px;
    }
    .boat-bg-img{
        margin-top: 40px;
    }
}

/* Medium screens (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .hero {
        margin: 100px 0px 60px 0px;
    }
    .hero-text h2 {
        font-size: 30px;
    }
    .hero-text p {
        font-size: 20px;
    }
    .herobutton {
        /* width: 60%; */
        margin-top: 20px;
    }
}
/* banner image End */

/* Style  dot */
.dot-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 40px 0px 0px 0px;
}
.dot-menu a li {
    width: 5px;
    height: 5px;    
    border-radius: 50%;
    margin: 0 5px;
}



/* featured-products Start */
.featured-products {
    margin-top: 40px;
    background-color: #1c1c1c;
}

.featured-products h2 {
    font-size: 24px;
    margin: 40px 0px 20px 0px;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    transition: transform 0.3s ease;
    margin-top: 90px;
   
}
.product-card1,.product-card5{
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    transform: scale(0.7);
}
.product-card2,.product-card4{
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    transform: scale(0.9);
}
.product-card3{
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    transform: scale(1.3);
}

.product-card1 img , .product-card2 img,.product-card3 img,.product-card4 img,.product-card5 img{
    width: 100px;
    margin: 10px 0px;

}

.product-card1 p,.product-card2 p,.product-card3 p,.product-card4 p,.product-card5 p {
    margin: 10px 0;
    font-size: 18px;
}


/* Small screens (max-width: 767px) */
@media (max-width: 767px) {
    
    .featured-products h2 {
        
        margin: 60px 0px 0px 0px;
        text-align: center;
    }
    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-around;
        transition: transform 0.3s ease;
        margin-top: 0px;  
    }
    
    }
    
    
    /* Medium screens (min-width: 768px and max-width: 1024px) */
    @media (min-width: 768px) and (max-width: 1024px) {       
    .featured-products h2 {
        
        margin: 60px 0px 0px 0px;
        text-align: center;
    }
    .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        transition: transform 0.3s ease;
        margin-top: 90px;  
    }
    }
/* Featured products End    */



/* Top Product Start*/
.top-product{
    background-color: #1c1c1c;
}
.top-product h2{
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}
.product-filters{
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
}
.product-filters a{
    color: lightsteelblue;
    padding: 4px 8px; 
    margin: 40px 0px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.product-filters a:nth-child(1){
    background-color: #e60023;

}
.product-filters a:hover{
    background-color: #e60023;
    padding: 4px 8px; 
}

/* Small screens (max-width: 767px) */
@media (max-width: 767px) {
    .product-filters{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .product-filters a{
        color: lightsteelblue;
        padding: 3px 0px; 
        margin: 5px 0px;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }
    .product-filters a:nth-child(1){
        background-color: #e60023;
    
    }
    .product-filters a:hover{
        background-color: #e60023;
        padding: 3px 0px; 
    }
}
/* Top Product End */




/*----Add To Cart Start------ */
.Addcart {
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    margin: 40px 0px;
    color: lightsteelblue;
    /* display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center; */
}
.Addcartrow1{
    display: flex;
    justify-content: center;
}
.addproduct{
    height: 354px;
    width: 239px;
    border: 1px solid  #444;
    /* box-shadow: 0 0px 1px rgb(237, 232, 232); */
    margin: 3px;
}
.prodimg {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 10px 0px 35px 60px;
}
.proddetail{
    margin: 0px 14px;
    /* padding: 0px 14px; */
    /* display: grid;
    grid-template-columns: repeat(1 , 1fr);
    align-content: space-between;
    grid-gap: 3px; */
}
.star{
    font-size: x-small;

}
/* Star ratings styling */
.checked {
    color:  #b20710;
    font-size: 16px;
}
.addcarth3{
    margin-top: 10px;
}
.addcartp{
    font-size: small;
    opacity: 0.6;
}
.Addcart hr {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 10px 0 10px 0;
    padding: 0px 16px 0 16px;
}
.actualprice{
    font-size: larger;
}
.proddelete{
    opacity: 0.6;
    font-size: medium;
}
/* Button Styling */
.addcartbutton{
    background-color: #e60023;
    border-radius: 3px;
    color: #ffffff;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    margin: 14px;
    width: 90%;
    transition: background-color 0.3s ease;
}

.browseall{
    font-size: 28px;
    margin: 150px 0px 0px 0px;
    text-align: center;
}
/*----Add To Cart end----*/



/*---our Advantages Start---*/
.advantages{
    background-color: #1c1c1c;
    margin-top: 80px;


}
.advantages h2{
    margin-top: 80px;
}
.advantage-name{
    display: flex;
    justify-content:space-around;
    margin: 100px 0px;
}
.advantage-name .Delivery,.advantage-name .Brand,.advantage-name .deels,.advantage-name .payments {
    display: flex; /* Use flexbox to align icon and text horizontally */
    align-items: center; /* Align items vertically in the center */
    gap: 15px; /* Add space between the icon and the text */
}
.advicons{
    font-size: 30px;
}
.advtwo-txt {
    font-size: small;
    opacity: 0.6;
    margin-top: 3px;
    display: inline-block;
}
/*---our Advantages End---*/




/*--footer start--- */
.footerHome {
    background-color: #111;
    /* color: #fff; */
    /* margin: 40px 0; */
    /* margin-top: 40px; */
    font-family: 'Arial', sans-serif;

}
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    padding-top: 40px;

  }
  .footer-column1{
    flex: 8;
  }
  .footer-column {
    margin-left: 144px;
    flex: 4;
  }
  
  .footerHeading {
    font-size: 18px;
  }
  .headDiscription{
    margin-top: 15px;
     font-size: 15px;
    opacity: 0.7;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
    margin-top: 18px;
  }
  
  .footer-column ul li a {
    color: lightsteelblue;
    opacity: 0.6;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-column ul li a:hover {
    color: #e63946;
  }
  
  .footer-column form {
    /* display: flex; */
  }
  
  .footer-column1 input {
    background-color: #111;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid lightsteelblue;
    outline: none;
    width: 70%;
  }
  
  .footer-column1 button {
    margin-top: 15px;
    padding: 8px 80px 8px 20px;
    /* padding: 19px; */
    border: none;
    border-radius: 7px;
    background-color: #ec081b;
    color: #fff;
    cursor: pointer;
    width: 30%;
  }
  /*--footer End--- */
 
/* -- footer Bottom Start -- */
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 0px 0px;
    border-top: 1px solid #333;

  }
  
  .footerdisc {
    margin: 30px 0px 30px 20px;
    font-size: 14px;
  }
  
.social-icons{
    margin: 25px 70px 0px 0px;
    display: flex;
    gap: 20px;

}
/* -- footer Bottom End -- */


  

  
